## <div align = center> Immersion à Data : *Rapport de synthèse*

In [72]:
# importations 

import pandas as pd
import numpy as np
import sklearn as sk

In [73]:
df = pd.read_csv("datas.csv", sep = ";")
df.describe()

,id,age,priors_count,is_recid,is_violent_recid,decile_score
count,11757.000000,11757.000000,11757.000000,11757.000000,11757.000000,11757.000000
mean,5879.000000,35.143319,3.082164,0.253806,0.075019,4.371268
std,3394.097892,12.022894,4.687410,0.558324,0.263433,2.877598
min,1.000000,18.000000,0.000000,-1.000000,0.000000,-1.000000
25%,2940.000000,25.000000,0.000000,0.000000,0.000000,2.000000
50%,5879.000000,32.000000,1.000000,0.000000,0.000000,4.000000
75%,8818.000000,43.000000,4.000000,1.000000,0.000000,7.000000
max,11757.000000,96.000000,43.000000,1.000000,1.000000,10.000000

In [74]:
# on transforme les dates en flotant

df['year_in'] = pd.DatetimeIndex(df['c_jail_in']).year
df['month_in'] = pd.DatetimeIndex(df['c_jail_in']).month
df['month_out'] = pd.DatetimeIndex(df['c_jail_out']).month
df['year_out'] = pd.DatetimeIndex(df['c_jail_out']).year

df['day_out'] = pd.DatetimeIndex(df['c_jail_out']).day
df['day_in'] = pd.DatetimeIndex(df['c_jail_in']).day

df['date_in'] = df['year_in'] + df['month_in']/12 + df['day_in']/365
df['date_out'] = df['year_out'] + df['month_out']/12 + df['day_out']/365
df['duree_prison'] = df['date_out'] - df['date_in']

In [75]:
df.columns

Index(['id', 'sex', 'dob', 'age', 'age_cat', 'social_cat', 'priors_count',
       'c_jail_in', 'c_jail_out', 'c_case_number', 'c_offense_date',
       'c_arrest_date', 'c_charge_degree', 'c_charge_desc', 'is_recid',
       'r_case_number', 'r_charge_degree', 'r_offense_date', 'r_charge_desc',
       'is_violent_recid', 'decile_score', 'score_text', 'screening_date',
       'year_in', 'month_in', 'month_out', 'year_out', 'day_out', 'day_in',
       'date_in', 'date_out', 'duree_prison'],
      dtype='object')

In [79]:
new_df = df[['id', 'age', 'priors_count', 'is_recid', 'duree_prison', 'sex', 'social_cat', 'decile_score', 'c_charge_degree', 'is_violent_recid']]
new_df = new_df.set_index('id')
new_df.describe()

,age,priors_count,is_recid,duree_prison,decile_score,is_violent_recid
count,11757.000000,11757.000000,11757.000000,10577.000000,11757.000000,11757.000000
mean,35.143319,3.082164,0.253806,0.069788,4.371268,0.075019
std,12.022894,4.687410,0.558324,0.201400,2.877598,0.263433
min,18.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000
25%,25.000000,0.000000,0.000000,0.002740,2.000000,0.000000
50%,32.000000,1.000000,0.000000,0.002740,4.000000,0.000000
75%,43.000000,4.000000,1.000000,0.035616,7.000000,0.000000
max,96.000000,43.000000,1.000000,5.897489,10.000000,1.000000